// setup background
.carousel-courses {
  div[data-index="0"] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/assets/img/carou-1.jpg");
  }
  div[data-index="1"] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/assets/img/carou-2.jpg");
  }
  div[data-index="2"] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/assets/img/carou-3.jpg");
  }
  div[data-index="3"] {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("/assets/img/carou-1.jpg");
  }
}
.carousel-courses {
  .slick-slide {
    background-size: cover !important;
    background-position: center !important;
  }
}

.carousel__content {
  margin: 0;
  height: 500px;
  text-align: center;
  position: relative;

  .carousel__text {
    color: $color-white;
    max-width: 500px;
    width: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .btn-viewDetail {
      margin-top: 0;
    }
  }
}
// Custom arrow ANTD
.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: 30px;
  right: 15px;
  z-index: 1000;
  color: $color-white;
  svg {
    background-color: rgba(0, 0, 0, 0.169);
    border-radius: 50%;
    padding: 5px;
  }
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: 30px;
  left: 10px;
  z-index: 2;
  color: $color-white;
  svg {
    background-color: rgba(0, 0, 0, 0.169);
    border-radius: 50%;
    padding: 5px;
  }
}
.slick-arrow::before {
  display: none;
}
// -----RESPONSIVE----

@include responsive("medium") {
  .carousel__content {
    height: 350px;
  }
}
