main {
  section.courses {
    background-image: url("/assets/img/bg-coursesGrid.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 80px 0;
    .courses__content {
      h1 {
        color: $color-white;
      }
      .courses__grid {
        .card.courses__item {
          height: 500px;
          overflow: hidden;
          margin-bottom: 30px;
          .card-img-top {
            text-align: center;
            position: relative;
            overflow: hidden;
            img {
              height: 270px;
              width: 100%;
              object-fit: cover;
              display: block;
            }
          }
          .card-body {
            display: grid;
            flex-direction: column;
            .card-body-title {
              @include styleText($fs-3, $fw-3, $color-primary-blue);
              transition: $trans-linear-fast;
              &:hover {
                color: $color-primary-yellow;
              }
            }
            .btn-viewDetail {
              align-self: flex-end;
              justify-self: flex-end;
            }
          }
        }
      }
    }
  }
}
