.searchPage {
    background: #f5f5f5;

    input {
        height: 40px;
        border: 1px solid #e5e5e5;
        box-shadow: none;
        padding: .5rem;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }

    .btn-search {
        color: white;
        padding: 18px 0;
        background: #002147;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        display: inline-block;
        border: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        transition: all .5s ease-out;

        &:hover {
            background: #fdc800;
            color: #002147;
        }
    }

    ul.categories {
        li {
            margin-bottom: 1rem;
            padding-bottom: 10px;
            border-bottom: 1px solid #e0e0e0;
            color: #444444;
            transition: all .5s ease-out;
            cursor: pointer;

            &:hover {
                color: #fdc800;
            }
        }
    }

    ul.pagitions {
        display: flex;
        gap: .25rem;

        li {
            width: 42px;
            font-size: 16px;
            color: #ffffff;
            height: 40px;
            background: #002147;
            display: block;
            line-height: 40px;
            text-align: center;
            transition: all .5s ease-out;
            cursor: pointer;

            &:hover,
            &.active {
                background-color: #fdc800;
            }
        }
    }
}