section.login {
  width: 70%;
  margin: 200px auto;
  border-radius: 30px;
  background: rgba(115, 144, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);

  .container {
    padding: 40px;
    .navbar-brand {
      @include styleText(32px, 700, $color-primary-blue);
    }

    form {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      label {
        @include styleText($fs-2, $fw-2, $color-primary-blue);
      }
    }
  }
}
// ----RESPONSIVE-----a

@include responsive("small") {
  section.login {
    .img-wrapper {
      display: block !important;
      img {
        display: block;
        width: 50% !important;
        margin: 0 auto;
      }
    }
    width: 90%;
    margin: 10px auto;
    form {
      label {
        font-size: 16px !important;
      }
    }
  }
}
@include responsive("medium") {
  section.login {
    .container {
      padding: 20px;
    }
    .img-wrapper {
      display: none;
    }
    .login-title {
      margin-top: 10px;
      font-size: 24px;
    }
    width: 90%;
    margin: 10px auto;
  }
}
