section.profile {
  background-color: #afd5ff;
  padding: 80px 0;

  .profile__container {
    width: 70%;
    .profile__left {
      .profile__img {
        img {
          border-radius: 50%;
        }
      }
    }
  }
}

// ----RESPONSIVE-----
@include responsive("small") {
  section.profile {
    padding: 30px 0;
    .profile__container {
      width: 95%;
    }
  }
}
@include responsive("medium") {
  section.profile {
    padding: 30px 0;
    .profile__container {
      width: 95%;
    }
  }
}
