.btn-viewAll {
  @include styleBtn(
    $color-white,
    $color-primary-blue,
    30px,
    20px,
    0,
    $color-primary-yellow
  );
  border: 2px solid $color-primary-yellow;
  cursor: pointer;
  &:hover {
    @include hoverBtn(
      $color-primary-blue,
      $color-primary-yellow,
      $color-primary-yellow
    );
    border: 2px solid $color-primary-yellow;
  }
}
.btn-viewDetail {
  display: inline-block;
  margin-top: 30px;
  font-style: normal;
  @include styleBtn(
    $color-white,
    $color-primary-blue,
    30px,
    10px,
    0,
    $color-primary-yellow
  );
  text-decoration: none;
  border: 2px solid $color-primary-yellow;
  cursor: pointer;
  &:hover {
    @include hoverBtn(
      $color-primary-blue,
      $color-primary-yellow,
      $color-primary-yellow
    );
    border: 2px solid $color-primary-yellow;
  }
}
.btn-removeAttend {
  @extend .btn-viewDetail;
  background-color: rgba(128, 128, 128, 0.438);
  border-color: rgba(255, 255, 255, 0);
  &:hover {
    @include hoverBtn($color-white, red, red);
    border: 2px solid $color-primary-yellow;
  }
}
.btn-register {
  @include styleBtn(
    $color-white,
    $color-primary-blue,
    20px,
    10px,
    0,
    $color-primary-yellow
  );
  border: 2px solid $color-primary-yellow;
  margin: 30px 0 0 auto;
  display: block;
  &:hover {
    @include hoverBtn(
      $color-primary-blue,
      $color-primary-yellow,
      $color-primary-yellow
    );
    border: 2px solid $color-primary-yellow;
  }
}
.btn-login {
  @extend .btn-register;
}
.btn-update {
  @extend .btn-register;
  margin-top: 0;
}
.btn-upload {
  @extend .btn-register;
  margin: 0 auto;
}
