.course {
    img {
        width: 100%;
    }

    .wrapper {
        margin-bottom: 30px;
        overflow: hidden;
        background: #FFFFFF;

        .img-wrapper {
            position: relative;
            width: 100%;

            &::before {
                width: 0;
                height: 100%;
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                background-color: rgba(253, 200, 0, 0.8);
                z-index: 2;
                transition: .5s all ease-out;
            }

            &:hover::before {
                width: 100%;
            }

            &:hover a {
                opacity: 1;
            }

            a {
                opacity: 0;
                text-align: center;
                position: absolute;
                top: 50%;
                z-index: 3;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                line-height: 50px;
                color: #FFFFFF;
                display: block;
                background: #002147;
                left: 0;
                right: 0;
                margin: 0 auto;
                transition: .5s all ease-out;
            }
        }

        .content-wrapper {
            padding: 20px 15px;

            .item-title {
                font-size: 22px;
                margin-bottom: 10px;

                a {
                    color: #002147;
                    transition: all .5s ease-out;
                }
            }

            .courses-info {
                li {
                    line-height: 1.3;
                    padding-right: 7px;
                    margin-right: 2px;
                    border-right: 1px solid #909090;
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 500;
                }

                li:last-child {
                    border-right: none;
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}