footer {
  section.footer-wrap {
    padding: 60px 0;
    background: $color-primary-blue;
    .row {
      > div {
        h3,
        h4,
        h5 {
          color: white;
        }
      }
      .footer-col-1 {
        p {
          @include styleText(18px, $fw-2, $color-white);
          margin: 20px 0 30px 0;
        }
        a {
          @include styleText($fs-3, $fw-2, $color-white);
          margin: 0 10px;
          transition: $trans-linear-fast;
          &:hover {
            color: $color-primary-yellow;
          }
        }
      }
      .footer-col-2 {
        .d-flex {
          ul {
            list-style-type: none;
            padding: 0 0;
            li {
              margin: 15px 0;

              a {
                text-decoration: none;
                @include styleText($fs-1, $fw-2, $color-white);
                transition: $trans-linear-fast;
                &:hover {
                  color: $color-primary-yellow;
                }
                &::before {
                  content: ">";
                  margin-right: 10px;
                  color: $color-primary-yellow;
                }
              }
            }
          }
          ul:nth-child(2) {
            margin-left: 60px;
          }
        }
      }
      .footer-col-3 {
        .information-content {
          margin-top: 20px;
          h5 {
            margin-top: 30px;
          }
          a {
            text-decoration: none;
            @include styleText($fs-1, $fw-2, $color-white);
            margin: 10px 0;
            transition: $trans-linear-fast;
            span {
              color: $color-primary-yellow;
            }
            &:hover {
              color: $color-primary-yellow;
            }
          }
        }
      }
    }
  }
}
footer.admin {
  background-color: $color-primary-blue;
}
//------------RESPONSIVE-----------
@include responsive("small") {
  section.footer-wrap {
    .container {
      .row {
        .col-12:nth-child(1) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
