// Header User
header {
  section.header-wrap {
    // UPPER HEADER
    .header__upper {
      background-color: $color-primary-blue;
      .header__upper-content {
        .header__upper-left,
        .header__upper-right {
          a {
            color: $color-white;
            text-decoration: none;
            margin-right: 20px;
            transition: $trans-linear-fast;
            &:hover {
              color: $color-primary-yellow;
            }
          }
        }
        .header__upper-right {
          .dropdown-menu {
            margin-top: 10px !important;
            background-color: $color-primary-blue;

            li {
              a {
                @include styleText($fs-1, $fw-2, $color-white);
                &:hover {
                  color: $color-primary-yellow;
                }
              }
            }
          }
          .applyBtn {
            margin-left: 20px;
            font-weight: bold;
            height: 100%;
            display: inline-block;
            @include styleBtn(
              $color-primary-blue,
              $color-primary-yellow,
              15px,
              15px,
              0,
              ""
            );
            &:hover {
              @include hoverBtn(
                $color-primary-yellow,
                $color-primary-blue,
                "$color-primary-yellow"
              );
            }
          }
        }
      }
    }
    // BOTTOM HEADER
    .header__bottom {
      background-color: $color-white;
      nav.navbar {
        a.navbar-brand {
          @include styleText(32px, $fw-4, $color-primary-blue);
        }
        .navbar-collapse {
          ul.navbar-nav {
            li {
              margin: 0 12px;
              a {
                @include styleText(18px, $fw-3, $color-primary-blue);
                transition: $trans-linear-fast;
              }
              a.active {
                color: $color-primary-yellow;
                transition: $trans-linear-slow;
              }

              &:hover {
                a {
                  color: $color-primary-yellow;
                }
              }
            }
            li.nav-item.dropdown {
              &:hover ul.dropdown-menu {
                display: block;
              }
              ul.dropdown-menu {
                background-color: $color-primary-blue;
                transition: $trans-linear-fast;

                a {
                  font-weight: normal;
                  color: $color-white;
                }
                li {
                  margin: 0 0;
                  background-color: $color-primary-blue;
                  transition: all linear 0.5s;
                  a {
                    color: $color-white;
                    transition: all linear 0.5s;
                  }
                  &:hover {
                    background-color: $color-white;
                    a {
                      color: $color-primary-yellow;
                    }
                  }
                }
              }
            }
            li.nav-search {
              border-left: 1px solid gray;
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}
// Header Admin
header.admin {
  section.header-wrap {
    .header__bottom {
      background-color: $color-primary-blue;
      nav.navbar {
        a.navbar-brand {
          @include styleText(32px, $fw-4, $color-primary-yellow);
        }
        .navbar-collapse {
          ul.navbar-nav {
            li {
              margin: 0 12px;
              a {
                @include styleText(18px, $fw-3, $color-white);
                transition: $trans-linear-fast;
              }
              a.active {
                color: $color-primary-yellow;
                transition: $trans-linear-slow;
              }

              &:hover {
                a {
                  color: $color-primary-yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
// -----RESPONSIVE-----
@include responsive("small") {
  header {
    section.header-wrap {
      .header__upper {
        &-left {
          display: none !important;
        }
        &-right {
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          width: 100%;
          justify-content: space-between;

          a.applyBtn {
            margin: 0 !important;
          }
        }
      }
    }
  }
}

@include responsive("medium") {
  header {
    li.nav-search {
      display: flex;

      align-items: center;
      padding-left: 0 !important;
      border: none !important;
      &::after {
        pointer-events: all;
        content: "Search";
        margin-left: 10px;
        @include styleText(18px, $fw-3, $color-primary-blue);
        transition: $trans-linear-fast;
      }
    }
  }
}
