@import "./base/reset";
@import "./helpers/variables";
@import "./helpers/mixin";
@import "./base/typo";
@import "./components/button";
@import "./components/header";
@import "./components/footer";
@import "./components/course";
@import "./layout/courses";
@import "./layout/welcome";
@import "./layout/carousel";
@import "./layout/number";
@import "./layout/brandCoop";
@import "./pages/login";
@import "./layout/detailCourse";
@import "./pages/profile";
